body {
    background: radial-gradient(circle at 50% 50%, #e7663c 0%, #480C02 100%);
    height: 100vh;
    margin: 0;
    padding: 0;
}

#game_container{
    background-image: url("../img/bg-raster.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    padding: 0 1rem;
}

#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    background-image: url("../img/bg-raster.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.spinner {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.hidden{
    visibility: hidden;
}